.container {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #f9f9f9, #eaf4fb);
  color: #333;
}

.page_title {
  text-align: center;
  margin: 20px auto;
  padding: 10px 50px;
  border: 2px solid DodgerBlue;
  width: fit-content;
  border-radius: 6px;
  background: #f0f8ff;
}

.slideshow {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slide_image {
  width: 80%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.5s ease;
}
.slide_image:hover {
  transform: scale(1.03);
}

.vcontent {
  text-align: center;
  margin-top: -200px;
  font-weight: bold;
}

.vcontent h1{
  padding-top: 20px;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

.vcontent p{
  font-size: 1.2rem;
  padding-bottom: 20px;
  color: black;
}

.section_title {
  text-align: center;
  margin: 30px auto 10px;
  color: #0056b3;
  font-size: 1.8rem;
  font-weight: bold;
}

.packages_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
}
.package_card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.package_card:hover {
  transform: translateY(-5px);
}
.price {
  color: #ff4500;
  font-weight: bold;
}

.section_subtitle {
  background-color: #f2ff00ff;
  padding: 8px;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}

.list {
  list-style: none;
  color: black;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 20px;
}
.list li {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

footer {
  background: #222;
  color: white;
  padding: 10px 0;
  font-size: 0.9rem;
}
