.box { 
  border: 2px solid black;
  display: block;
  height: 200px;
  width:20%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 whitesmoke, 0 6px 20px 0 whitesmoke;
  text-align: center;
}

.Places-section{
  display:flex;
  margin-top: 3%;
  justify-content: space-evenly; 
}

.Places-section-1{
  display:flex;
  margin-top: 5%;
  justify-content: space-evenly;
}

.Places-section-2{
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
}